* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

footer {
    padding: 8px;
    text-align: right;
}

/* Multi button */
.multi-button {
    display: inline-flex;
    border: 1px solid #000;
    border-radius: 30px;
}

.multi-button button {
    display: inline-flex;
    align-items: center;
    background-color: white;
    border: none;
    padding: 8px 16px;
    border: 1px solid #000;
}

.multi-button button:hover {
    cursor: pointer;
    background-color: #f3f3f3;
}

.multi-button button:first-of-type {
    border-radius: 30px 0 0 30px;
}

.multi-button button:last-of-type {
    /* border-right: 0; */
    border-radius: 0 30px 30px 0;
}

.multi-button button img {
    width: 16px;
    display: block;
    margin-left: 8px;
}